.flash_message{
    margin-left: 230px;
    width: 84.3%;
    z-index: 99999;
    position: absolute;
    display: none;
}
.flash_message .alert{
    height: 50px;
}
.login_message{
    width: 300px;
    margin: 0 auto;
    position: relative;
}
.alert-warning, .alert-success{
    border-radius: 0;
}
.login_message .error{
    color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc;
}