<?php foreach ($listFindmore as $index => $row): ?>
    <li <?php echo ($index % 2 == 1) ? 'class="odd"' : ''; ?> >
        <div class="row role-item">
            <a href="javascript:show_list_collaborator_findmore('<?php echo $row->role_id; ?>','<?php echo $project_id; ?>');"><div class="col-md-12 role-name"><img class="role-icon" src="<?php echo $row->icon; ?>" alt="<?php echo $row->title; ?>" title="<?php echo $row->title; ?>" /><strong><?php echo $row->title; ?></strong></div></a>
        </div>
    </li>
<?php endforeach; ?>