<style type="text/css">
    .modal-open{ overflow: inherit; }
    body{ padding-right: 0 !important; }
</style>
<div class="users_form_edit" id="users_form_edit" style=" border: none;margin-bottom: 50px">
    <div class="content-setting" style="width: 100%;">
        <h2><?php echo __('Settings'); ?></h2>
        <div class="clearfix"></div>

        <?php echo $this->element('Profile/profile_tab'); ?>
    </div>
</div>

<div class="container">
	<?php echo $this->element('Users/content_blocked'); ?>
</div>