<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong><?php echo __('Copyright &copy; 2016-2020'); ?> <a href="#"><?php echo __('We The Projects'); ?></a>.</strong> <?php echo __('All rights reserved.'); ?>
</footer>