<?php
$HomeController = new \App\Controller\HomeController();
// $aSliders = $HomeController->getSliders();
?>
<div id="slideshow">
   <div>sdf the content can be anything.
   </div>
   <div>
     Pretty cool eh? This slide is sdftent can be anything.
   </div>
   <div>
     Pretty cool eh? This slide is proof the content can be anything.
   </div>
</div>
<script>
$("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
}, 5000);
</script>