<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Scale'), ['action' => 'edit', $scale->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Scale'), ['action' => 'delete', $scale->id], ['confirm' => __('Are you sure you want to delete # {0}?', $scale->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Scales'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Scale'), ['action' => 'add']) ?> </li>
        <li><?= $this->Html->link(__('List Projects'), ['controller' => 'Projects', 'action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Project'), ['controller' => 'Projects', 'action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="scales view large-9 medium-8 columns content">
    <h3><?= h($scale->name) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Name') ?></th>
            <td><?= h($scale->name) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($scale->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($scale->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($scale->modified) ?></td>
        </tr>
    </table>
    <div class="related">
        <h4><?= __('Related Projects') ?></h4>
        <?php if (!empty($scale->projects)): ?>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th scope="col"><?= __('Id') ?></th>
                <th scope="col"><?= __('Title') ?></th>
                <th scope="col"><?= __('Image Url') ?></th>
                <th scope="col"><?= __('Video Id') ?></th>
                <th scope="col"><?= __('Video Url') ?></th>
                <th scope="col"><?= __('Description') ?></th>
                <th scope="col"><?= __('Category Id') ?></th>
                <th scope="col"><?= __('User Id') ?></th>
                <th scope="col"><?= __('State Id') ?></th>
                <th scope="col"><?= __('District Id') ?></th>
                <th scope="col"><?= __('Country Id') ?></th>
                <th scope="col"><?= __('Status') ?></th>
                <th scope="col"><?= __('Type') ?></th>
                <th scope="col"><?= __('Process') ?></th>
                <th scope="col"><?= __('Tags') ?></th>
                <th scope="col"><?= __('Synopsis') ?></th>
                <th scope="col"><?= __('End Date') ?></th>
                <th scope="col"><?= __('Start Date') ?></th>
                <th scope="col"><?= __('Pitch') ?></th>
                <th scope="col"><?= __('Process Type') ?></th>
                <th scope="col"><?= __('Lang Id') ?></th>
                <th scope="col"><?= __('Created') ?></th>
                <th scope="col"><?= __('Modified') ?></th>
                <th scope="col"><?= __('Viewed Counter') ?></th>
                <th scope="col"><?= __('Lat') ?></th>
                <th scope="col"><?= __('Lng') ?></th>
                <th scope="col"><?= __('Is Completed') ?></th>
                <th scope="col"><?= __('Group Id') ?></th>
                <th scope="col"><?= __('Scale Id') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
            <?php foreach ($scale->projects as $projects): ?>
            <tr>
                <td><?= h($projects->id) ?></td>
                <td><?= h($projects->title) ?></td>
                <td><?= h($projects->image_url) ?></td>
                <td><?= h($projects->video_id) ?></td>
                <td><?= h($projects->video_url) ?></td>
                <td><?= h($projects->description) ?></td>
                <td><?= h($projects->category_id) ?></td>
                <td><?= h($projects->user_id) ?></td>
                <td><?= h($projects->state_id) ?></td>
                <td><?= h($projects->district_id) ?></td>
                <td><?= h($projects->country_id) ?></td>
                <td><?= h($projects->status) ?></td>
                <td><?= h($projects->type) ?></td>
                <td><?= h($projects->process) ?></td>
                <td><?= h($projects->tags) ?></td>
                <td><?= h($projects->synopsis) ?></td>
                <td><?= h($projects->end_date) ?></td>
                <td><?= h($projects->start_date) ?></td>
                <td><?= h($projects->pitch) ?></td>
                <td><?= h($projects->process_type) ?></td>
                <td><?= h($projects->lang_id) ?></td>
                <td><?= h($projects->created) ?></td>
                <td><?= h($projects->modified) ?></td>
                <td><?= h($projects->viewed_counter) ?></td>
                <td><?= h($projects->lat) ?></td>
                <td><?= h($projects->lng) ?></td>
                <td><?= h($projects->is_completed) ?></td>
                <td><?= h($projects->group_id) ?></td>
                <td><?= h($projects->scale_id) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['controller' => 'Projects', 'action' => 'view', $projects->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['controller' => 'Projects', 'action' => 'edit', $projects->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['controller' => 'Projects', 'action' => 'delete', $projects->id], ['confirm' => __('Are you sure you want to delete # {0}?', $projects->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </table>
        <?php endif; ?>
    </div>
</div>
