<?php
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div class="homepage">
    <?php
        // GET BLOCK FEATURED PROJECT
        echo $this->element('Home/slider-home');
        // END: GET BLOCK FEATURED PROJECT
    ?>

    <?php
        // GET BLOCK FEATURED PROJECT
        // echo $this->element('Home/slider-event');
        // END: GET BLOCK FEATURED PROJECT
    ?>

    <?php
        // GET BLOCK FILTER PROJECT - JUST FOR YOU - TOP PICKS - NEAR YOU
        // echo $this->element('Home/filter-project');
        // END: GET BLOCK FILTER PROJECT - JUST FOR YOU - TOP PICKS - NEAR YOU
    ?>

    <?php
        // GET BLOCK CATEGORY PROJECT
        // echo $this->element('Home/category-project');
        // END: GET BLOCK CATEGORY PROJECT
    ?>
</div>
<script type="text/javascript">
//    $(window).load(function () {
        var $this = $('.animation');
        var imgWitdh = parseInt($this.width());
        $this.height(imgWitdh);
        $this.css('line-height', imgWitdh + 'px');
//    });
</script>
