<div class="container">
	
    <h1 class="title_large">
	    <?php if(isset($Project->title) && !empty($Project->title)): ?>
	    	<?php echo $Project->title; ?>
	    <?php endif; ?>		
    </h1>
</div>