<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Validation Code'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="validationCodes index large-9 medium-8 columns content">
    <h3><?= __('Validation Codes') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('code') ?></th>
                <th scope="col"><?= $this->Paginator->sort('status') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($validationCodes as $validationCode): ?>
            <tr>
                <td><?= $this->Number->format($validationCode->id) ?></td>
                <td><?= h($validationCode->code) ?></td>
                <td><?= $this->Number->format($validationCode->status) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $validationCode->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $validationCode->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $validationCode->id], ['confirm' => __('Are you sure you want to delete # {0}?', $validationCode->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
